/* css styles */

/* === Hyperlink === */
a {
  color: #3e6257;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #91a580 !important;
  text-decoration: underline;
}

/* === Buttons === */
.btn:hover,
.btn:focus,
.btn:active,
button:hover,
button:focus {
  color: white !important;
  background-color: #3e6257 !important;
  border-color: #3e6257 !important;
}

.btn-outline-dark:hover,
.btn-outline-primary:hover {
  background-color: #3e6257 !important;
  color: white !important;
  border-color: #3e6257 !important;
}

/* === Sidebar / TOC === */
.sidebar nav .nav-link.active,
nav#TOC .nav-link.active {
  color: #3e6257 !important;
  border-left: 3px solid #3e6257 !important;
  font-weight: 600;
}

.sidebar nav .nav-link:hover,
nav#TOC .nav-link:hover {
  color: #91a580 !important;
}
